{% extends 'base.html.twig' %}
{% block title %}SSC Checkout{% endblock %}

{% block body %}
<div class="nav-space-checkout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="checkout-header">Checkout</h1>
            </div>
            <div class="col-xs-18 col-sm-7">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-6 active">Product</th>
                            <th class="col-xs-3 active text-center">Price</th>
                            <th class="col-xs-6 active text-center">Quantity</th>
                            <th class="col-xs-3 active text-center">Sum</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr class="product">
                                <th id="header" data="{{ product.id }}" class="col-xs-6 checkout-product-name">{{ product.name }}</th>
                                <td id="price" class="col-xs-3" data="{{ product.price }}">${{ product.price }}</td>
                                <td id="quantity" class="col-xs-6"><input onchange="updateAmount(this.value)" type="number" value="500" min="0" max="100" step="1"/></td>
                                <td id="sum" class="col-xs-3">$sum</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="col-xs-15 info" colspan="3">Total</th>

                            <td id="checkout-total" class="col-xs-3 info checkout-total">${{ cart.total }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ include('order/_cardForm.html.twig') }}
            </div>
            <div class="col-xs-12 col-sm-6">
                <!-- add checkout form here -->
                <div class="col-xs-12 col-sm-6">
                        <script>
                            var amount = 0;
                            function calculateAmount() {
                                let total = 0;
                                $(".product").each(function (index) {
                                    let sum = 0;
                                   let price = $(this).children("#price").first().attr("data");
                                   let quant = $(this).children("#quantity").first().find("input").val();
                                   console.log(price+"=>"+quant);
                                   sum=price*quant;
                                   total+=sum;
                                   console.log(sum);
                                   $(this).children("#sum").first().text("$"+sum);
                                });
                                console.log("total=>"+total);
                                amount = total;
                                return total;
                            }
                            function setTotal(t) {
                                $("#checkout-total").text("$"+t);
                            }
                            function updateAmount(a){
                                setTotal(calculateAmount());


                            }

                            function save() {
                                let son = {}
                                $(".product").each(function (index) {
                                    let id = $(this).children("#header").first().attr("data");
                                    let quant = $(this).children("#quantity").first().find("input").val();
                                    son[id] = quant;
                                });
                                $.post("{{ path('vente_save_commande') }}", {"products":JSON.stringify(son)}, function(result){
                                    console.log(result);
                                });
                            }
                        </script>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block custom_scripts %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('{{ public_key }}');
        $(function () {
            var $form = $('.js-checkout-form');
            $form.submit(function (event) {
                event.preventDefault();
                // Disable the submit button to prevent repeated clicks:
                $form.find('.js-submit-button').prop('disabled', true);
                // Request a token from Stripe:
                Stripe.card.createToken($form, stripeResponseHandler);
                // Prevent the form from being submitted:
                return false;
            });
        });

        function stripeResponseHandler(status, response) {
        // Grab the form:
            var $form = $('.js-checkout-form');
        if (response.error) { // Problem!
            // Show the errors on the form:
            $form.find('.js-checkout-error')
                .text(response.error.message)
                .removeClass('hidden');
            $form.find('.js-submit-button').prop('disabled', false); // Re-enable submission
        } else { // Token was created!
            $form.find('.js-checkout-error')
                .addClass('hidden');
            // Get the token ID:
            var token = response.id;
            // Insert the token ID into the form so it gets submitted to the server:
            $form.append($('<input type="hidden" name="stripeToken">').val(token));
            //create 'commande'
            save();
            // Submit the form:
            $form.get(0).submit();
        }
        }
    </script>
{% endblock %}
