
<html>
<head>
    <title>
        Ajout de fournisseur
    </title>
</head>
<body>

<h1>Ajouter un fournisseur</h1>
<fieldset style="width: 30%">
    {{ form_start(form) }}
    civilite:* {{ form_widget(form.civilite) }}</br>
    Nom:* {{ form_widget(form.nom) }}</br>
    Prenom:* {{ form_widget(form.prenom) }}</br>
    Telephone:* {{ form_widget(form.telephone) }}</br>
    Ville:* {{ form_widget(form.ville) }}</br>
    Pays:* {{ form_widget(form.pays) }}</br>
    adresseEmail:* {{ form_widget(form.adresseEmail) }}</br>
    {{ form_widget(form.enregistrer) }}
    {{ form_end(form) }}
</fieldset>

</body>
</html>
