<html>
<head>
    <title>List des fournisseurs</title>
    <img src="{{ asset('unnamed.jpg') }}" id="imgLogo" width="350px">
<h1>Hello mortadha</h1>
</head>
<body>
<center>
    <h1>Liste des fournisseurs</h1>
    <table border="6">
        <tr>
            <th>civilite</th>
            <th>nom</th>
            <th>prenom</th>
            <th>telephone</th>
            <th>ville</th>
            <th>pays</th>
            <th>adresseEmail</th>
        </tr>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.civilite }}</td>
                <td>{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.prenom }}</td>
                <td>{{ fournisseur.telephone }}</td>
                <td>{{ fournisseur.ville }}</td>
                <td>{{ fournisseur.pays }}</td>
                <td>{{ fournisseur.adresseEmail }}</td>

                <td> <a href="{{ path('gestion_achat_fournisseur_update',{'id':fournisseur.id}) }}">Modifier</a></td>
                <td> <a href="{{ path('gestion_achat_fournisseur_delete',{'id':fournisseur.id}) }}">supprimer</a></td>


            </tr>
        {% endfor %}
    </table>
</center>

</body>
</html>

